/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/
.error-404 {
    background-image: url(../images/404/404.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 17.375rem;
    padding-bottom: 13.375rem;

    p {
        font-size: 1.125rem;
        font-family: $heading-font;
        color: $white;
    }

    h2 {
        font-size: 18.125rem;
        line-height: 1;
        color: $white;
        margin-top: 4.375rem;
        margin-bottom: 4.375rem;
    }

    button {
        font-size: 0.875rem;
    }

    @include media-breakpoint-down(lg) {
        h2 {
            font-size: 14.5rem;
        }
    }

    @include media-breakpoint-down(md) {
        h2 {
            font-size: 10.875rem;
        }
    }
}