
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


#banner {
    position: relative;
    
    &.about-banner {        
        padding-bottom: 5rem;

        .banner-content {
            padding-top: 12.625rem;
            padding-bottom: 3.875rem;
        }        
    }
}

.banner-left, .banner-right {
    width: 21rem;
    height: 19rem;

    @include media-breakpoint-down(lg) {
        width: 11rem;
        height: 16rem;
    }

    @include media-breakpoint-down(sm) {
        width: 8rem;
        height: 7rem;
    }
}

.banner-left  {
    position: absolute;
    bottom: 0;
    right: 0;

    img {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }
}

.banner-right {
    position: absolute;
    left: 0;
    bottom: 0rem;

    img {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    @include media-breakpoint-down(lg) {
        bottom: 5rem;
    }

    @include media-breakpoint-down(sm) {
        bottom: 43.3rem;
    }
}

.banner-arrows {
	padding-top: 1em;
	padding-bottom: 1rem;

	a {
		color: $secondary;
		font-size: 3rem;

        &:hover {
            color: $theme-color;
        }

        @include media-breakpoint-down(sm) {
            padding-right: 2rem !important;
            padding-left: 2rem !important;
        }
	}
}