
/* ----------------------------------------------------------------

	blog.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/

.post {
	position: relative;
	margin-bottom: 0.875rem;

	@include media-breakpoint-down(lg) {
		margin: 0;
	}
}

.post-thumbnail {
	display: block;
	position: relative;
	width: 100%;
	height: 50%;

	img {
		border-radius: 0.5rem;
	}

	a {
		display: block;
	}

	@include media-breakpoint-down(lg) {
		height: auto !important;

		img {
			height: auto !important;
		}
	}
}

.post-content {
	position: relative;
	margin-bottom: 1.875rem;

	.entry-title {
		font-size: 1.875rem;
	}

	.entry-content {
		font-size: 1.125rem;
		color: #acacac;
		line-height: 2rem;
	}

	.entry-link {
		font-size: 3rem;

		a {
			&:hover {
				color: $theme-color;
			}
		}
	}
}


