
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/


.shipping-banner {
	position: absolute;
	left: 4.375rem;
	top: 5.625rem;	
}

.link-icon {
	background-image: url(../images/icons/link.png);
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	width: 2.5625rem;
	height: 2.5625rem;

	&.black {
		background-image: url(../images/icons/link_black.png);
	}
}

a {
	.link-icon {
		@include transition(all 0.3s ease-in-out);
	}

	&:hover {
		.link-icon {
			@include translateX(1rem);
		}
	}	
}

#subscribe-form {
    width: 20%;

    @include media-breakpoint-down(sm) {
        width: 50% !important;
    }
}


// -----------------about side------------------------//

.about-title {
    p {
        font-size: 1rem;
        color: #61605f;
        margin-bottom: 2rem;
    }
}

.about-banner-img {
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    position: absolute;
    width: calc(50vw + 1320px / 12);
    height: 100%;
    left: 0;
    top: 0;

    @include media-breakpoint-down(lg) {
        position: initial;
        width: 100%;
        height: 30rem;
    }
}

.banner-video {
    position: absolute;
    left: 0;
    bottom: -5rem;
    
    img {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        max-width: 20.625rem;
    }

    @include media-breakpoint-down(sm) {
        position: relative;

        img {
            border-radius: 0;
        }
    }
}

.history-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: calc(50vw - 1320px / 12);
    height: 100%;
    right: 0;
    top: 0;

    @include media-breakpoint-down(lg) {
        position: initial;
        width: 100%;
        height: 30rem;
    }
}

.history-content {    
    padding-top: 5rem;
    padding-bottom: 5rem;

    @include media-breakpoint-up(lg) {
        margin-top: -5rem;
    }

    h3 {
        color: #a7d7f2;
    }

    p {
        font-size: 1rem;
        color: #61605f;
        line-height: 1.5rem;
        margin-bottom: 2rem;
    }

    .border-bottom {
        margin-top: 4rem;
        width: 4rem;
        border-bottom: 1px solid $dark !important;

        @include media-breakpoint-down(xl) {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
}